*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;
	font-family: 'Exo', sans-serif;
}

.header{
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: black;
	padding-right: 14%;
	padding-top: 15px;
	padding-left: 8%;
}

.header a{
	padding-left: 5%;
	color: white;
	float: right;
	text-decoration: none;
}

.header .btn{
	float: left;
	height: 100%;
	width: 20%;
	text-align: center;
	padding-right: 5%;
}

.header .btn a{
	text-decoration: none;
	background: -webkit-linear-gradient(left, #696969, #696969);
	color: orange;
	font-weight: bold;
	border-radius: 20px;
	font-size: 30px;
	width: 100%;
	display: inline-block;
	cursor: pointer;
}

.header .btn a:hover{
	font-size: 30px;
	background-color: black;
}

.block1{
	height: 100%;
	background: linear-gradient(to left,  #696969, #000000);
	width: 100%;
	padding-top: 15%;
	padding-right: 20%;
	padding-left: 10%;
}


.block1 img{
	border-radius: 50%;
	height: 70%;
	float: right;
}

.block1 .intro{
	float: left;
	width: 70%;
	height: 100%;
	padding-top: 4%;
}

.block1 .intro p{
  	float: left;
  	color: white;
  	font-size: 28px;
  	font-weight: bold;
}

.block2{
	height: 70%;
	background-color: gray;
	width: 100%;
}

.block2 .head{
	width: 100%;
	height: 20%;
	padding-top: 3%;
	text-align: center;
	border: 2px solid red;
}

.block2 label{
	font-style: underline;
	font-size: 40px;
	color: black;
	font-weight: bold;
	font-family: Arial Black;
	text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
    text-decoration: underline double gray;
	text-underline-position: above;
}

.block2 .left{
	width: 55%;
	height: 70%;
	border: 2px solid black;
	float: left;
}

.block2 .right{
	float: right;
	height: 70%;
	width: 45%;
	border: 2px solid black;
}

.block3{
	width: 100%;
	height: 80%;
	background-color: silver;
	padding-top: 4%;
}

.block3 label{
	font-family: Arial Black;
	font-size: 40px;
	color: black;
	font-weight: bold;
	margin-left: 45%;
	text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
    text-decoration: underline double silver;
	text-underline-position: above;
}

.block3 .project-left{
	margin-top: 3%;
	height: 50%;
	width: 100%;
	float: left;
	padding-left: 10%;
	padding-right: 10%;
}

.block3 .project-left img{
	width: 40%;
	height: 100%;
	border-radius: 15%;
	float: left;
	border: 5px solid gray;
}

.block3 .project-left h2{
	float: right;
	margin-right: 10%;
	font-family: Arial Black;
	color: rgb(189,122,146);
}

.block3 .project-left p{
	margin-top: 2%;
	float: right;
	font-family: Arial Black;
	font-size: 18px;
	color: dimgray;
}

.block3 .project-left a{
	text-decoration: none;
	font-size: 25px;
	background: rgb(189,122,146);
	color: rgb(48,25,52);
	font-weight: bold;
	border-radius: 20px;
	width: 100%;
	padding-right: 2%;
	padding-left: 2%;
	margin-left: 10%;
}

.block4{
	height: 70%;
	width: 100%;
	background-color: gray;
	padding-top: 3%;
}

.block4 label{
	font-family: Arial Black;
	font-size: 40px;
	color: black;
	font-weight: bold;
	margin-left: 45%;
	text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
    text-decoration: underline double gray;
	text-underline-position: above;
}

.block4 .exper{
	position: center;
	margin-left: 18%;
	margin-top: 4.5%;
	padding-left: 3%;
	padding-right: 2%;
	float: left;
	padding-top: 4%;
	border: 2px solid dimgray;
	border-radius: 35px;
	width: 65%;
	height: 60%;
	border-left: 10px solid black;
	border-top: 10px solid black;
	background-color: dimgray;
}

.block4 .exper i{
	font-size: 25px;
}

.block4 .exper p{
	font-style: oblique;
}

.block5{
	width: 100%;
	height: 65%;
	background-color: silver;	
	text-align: center;
	padding-top: 4%;
}

.block5 h1{
	font-family: Arial Black;
	font-size: 40px;
	color: black;
	font-weight: bold;
	text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
    text-decoration: underline double silver;
	text-underline-position: above;
}

.block5 h4{
	font-size: 30px;
	font-family: Arial Black;
	color: dimgray;
	font-weight: bold;
	text-align: center;
	margin-left: 2%;
}

.block5 .cod{
	width: 35%;
	float: left;
	height: 75%;
	padding-top: 3%;
}

.block5 .cod i{
	font-size: 70px;
	width: 20%;
	background-color: dimgray;
	border-radius: 20%;
}

.block5 .cod label{
	font-weight: bold;
	font-size: 25px;
	font-family: Arial Black;
}

.block5 .cod p{
	font-weight: bold;
	font-size: 15px;
	font-family: Arial Black;
	font-style: italic;
	color: darkslategray;
}

.block5 .cod a{
	width: 100%;
	height: 20%;
	background: -webkit-linear-gradient(left, #000000, #2F4F4F); 
	color: white;
	text-decoration: none;
	padding-right: 4%;
	padding-left: 4%;
	font-size: 25px;
	border-radius: 20px;
}

.block5 .web{
	width: 30%;
	float: right;
	height: 75%;
	text-align: center;
	padding-top: 3%;
}

.block5 .web img{
	width: 20%;
	height: 25%;
	background-color: dimgray;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 20px;
}

.block5 .web label{
	font-weight: bold;
	font-size: 25px;
	font-family: Arial Black;
}

.block5 .web a{
	width: 100%;
	height: 20%;
	background: -webkit-linear-gradient(left, #000000, #2F4F4F); 
	color: white;
	text-decoration: none;
	padding-right: 4%;
	padding-left: 4%;
	font-size: 25px;
	border-radius: 20px;
}

.block5 .ml{
	width: 35%;
	float: right;
	height: 75%;
	padding-top: 3%;
}

.block5 .ml i{
	font-size: 70px;
	width: 20%;
	background-color: dimgray;
	border-radius: 20%;
}

.block5 .ml label{
	font-weight: bold;
	font-size: 25px;
	font-family: Arial Black;
}

.block5 .ml a{
	width: 100%;
	height: 20%;
	background: -webkit-linear-gradient(left, #000000, #2F4F4F); 
	color: white;
	text-decoration: none;
	padding-right: 4%;
	padding-left: 4%;
	font-size: 25px;
	border-radius: 20px;
}

.block6{
	width: 100%;
	height: 90%;
	background-color: gray;
	text-align: center;
}

.block6 label{
	font-family: Arial Black;
	font-size: 40px;
	color: black;
	font-weight: bold;
	text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
    text-decoration: underline double gray;
	text-underline-position: above;
}

.block6 .contact{
	height: 25%;
	width: 100%;
	padding-top: 5%;
	padding-left: 7%;
	letter-spacing: 5em;
}

.block6 .contact a i{
	font-size: 50px;
	color: lightpink;
	text-decoration: none;
	width: 5%;
	transition all: 0.2s; 
}

.block6 .contact a i:hover{
	font-size: 55px;
	color: palevioletred;
}

.block6 .collab{
	height: 65%;
	width: 100%;
	border: 2px solid blue;
	text-align: center;
}

.block6 .collab h1{
	font-family: Arial Black;
	font-weight: bold;
	color: darkslategray;    
}

.block6 .collab form .msg{
	margin-top: 3%;
	margin-right: 25%;
	width: 35%;
	height: 30%;
}

.block6 .collab button{
	width: 10%;
	height: 30%;
	background: -webkit-linear-gradient(left, #000000, #2F4F4F); 
	color: white;
	text-decoration: none;
	padding-right: 4%;
	padding-left: 3%;
	font-size: 25px;
	border-radius: 20px;
	margin-top: 10%;
}